.formControl {
}

.formControl.error input,
.formControl.error textarea {
  border: 5px red solid;
}

.formControl.error span {
  color: red;
}

.formSummaryError {
  border: 1px red solid;
  padding: 5px;
  font-weight: 600;
  color: white;
}
